<html>

<head>
<title>Getting started with Tinsel</title>
</head>

<body>

<p>Tinsel at its' most basic level is a graphical viewer of newick phylogenetic trees and as a program for producing publication-ready figures.  
The <b>power</b> of Tinsel comes with combining a genetic distance matrix for annotating a tree for epidemological outbreak analyses.
A genetic distance matrix contains the number of snp differences for all pairwise comparisons. </p>

</body>
</html>
